.App {
  text-align: center;
}

.App-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 2%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.warning {
  color: white;
  background-color: orange;
  border: none;
}
